@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}
.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}
.anchor-button {
  @apply p-4 px-8 rounded-full shadow-lg duration-200 hover:opacity-80;
}
.section-main-paragraph {
  @apply max-w-3xl mx-auto mb-20 leading-9 text-center text-grayishBlue;
}
.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
